* {
    box-sizing: border-box;
}

html {
    margin: 0;
}

body {
    background-color: rgb(83, 97, 69);
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
}
.wot-hapin {
    position: absolute;
    left: 50%;
    top: 50%;
    /* height: 660px; */
    /* border: cyan 10px dashed; */
    margin-left: -330px;
    margin-top: -330px;
    padding: 4rem;
}

.div {
    height: 10rem;
    border: black 5px solid;
    margin: 5rem auto;
    width: 40rem;
    background-color: coral;
    border-radius: 5px;
    top: 50%;
    vertical-align: middle;
}

.dark {
    background-color: rgb(105, 60, 109);
}

.button-container button {
    width: 4rem;
    height: 1.5rem;
    border-radius: 8px;
    border: none;
    outline: gold 5px 5px 5px 0.5px;
    /* margin: auto; */
    margin-left: -32px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.hidden {
    display: none;
}


