#product-overview {
    background: linear-gradient(to top, rgba(194, 167, 12, 0.4) 10%, transparent), url("freedom.jpg") left 10% bottom 20%/cover border-box padding-box, rgb(2, 65, 2);
    width: 100%;
    height: 33rem;
    padding: 0.625rem;   
    margin-top: 43px;
    position: relative;
}

@media (min-width: 950px){
    #product-overview {
        background: linear-gradient(to top, rgba(194, 167, 12, 0.4) 10%, transparent), url("freedom.jpg") left 10% bottom 30%/cover border-box padding-box, rgb(2, 65, 2);
    }
}

@media (min-width: 1000px){
    #product-overview {
        background: linear-gradient(to top, rgba(194, 167, 12, 0.4) 10%, transparent), url("freedom.jpg") left 10% bottom 40%/cover border-box padding-box, rgb(2, 65, 2);
    }
}

@media (min-width: 1100px){
    #product-overview {
        background: linear-gradient(to top, rgba(194, 167, 12, 0.4) 10%, transparent), url("freedom.jpg") left 10% bottom 50%/cover border-box padding-box, rgb(2, 65, 2);
    }
}

@media (min-width: 1200px){
    #product-overview {
        background: linear-gradient(to top, rgba(194, 167, 12, 0.4) 10%, transparent), url("freedom.jpg") left 10% bottom 70%/cover border-box padding-box, rgb(2, 65, 2);
    }
}

.slogan {
    position: absolute;
    /* margin: 0; */
    bottom: 5%;
    left: 5%;
}

.section-title {
    color: #2ddf5c;
    text-align: center;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

#plans {
    max-width: 938px;
    margin: auto;
}

#plans > div {
    text-align: center;
    /* width: 80%; */
    margin: auto;
    min-width: 700px;
}

.plan {
    display: inline-block;
    background-color: #d5ffdc;
    width: 30%;
    vertical-align: middle;
    /* color: white; */
    margin: 0.5rem;
    padding: 1rem;
    text-align: center;
}

@media (max-width: 700px) {

    .plan {
        display: block;
        width: 100%;
        margin: 0;
    }

    #plans > div {
        width: 100%;
        min-width: 0px;
    }
}

.plan h2 {
    color: rgba(0, 0, 0, 0.5);
}

.plan ul {
    list-style: none;
    padding: 0;
}

.plan li {
    padding: 0.25rem;
}

.plan > div > button {
    background-color: rgb(0, 65, 0);
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    font: inherit;
    cursor: pointer;
}

.plan > div > button:hover,
.plan > div > button:active {
    background-color: white;
    color: rgb(0, 65, 0);
    outline: tomato solid 3px;
}

.recommended {
    background-color: #19b84c;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.recommended__badge {
    /* width: 95%; */
    padding: 5px;
    background-color: white;
    color: #19b84c;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    margin: 1rem auto;
}

.lower-section {
    background: #ff1b68;
    color: white;
    text-align: center;
    margin-top: 4rem;
    padding: 2rem;
}

.lower-section__items {
    padding: 0;
    margin: auto;
    max-width: 750px;
}

.lower-section__item {
    display: inline-block;
    list-style: none;
    margin: 1rem;
    width: 25%;
    vertical-align: top;

}

.lower-section__item div {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background: #ffcede;
    border: 2px solid #424242;
    margin: auto;
}

.modal {
  position: fixed;
  display: none;
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 40%;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  border: 1px solid #0e4f1f;
  background: #0e4f1f;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}

.modal__action--negative {
  background: red;
  border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #ff5454;
  border-color: #ff5454;
}



/* h1 {
    font-family: sans-serif;
} */
