html, 
body{
    height: 100%;
}

.box{
    width: 200px;
    height: 200px;
    padding: 50px 10px 30px 5px;
    margin: 30px 20px 10px 5px;
    background: gold;
    display: inline-block;
}

.change{
    height: 300px;
    width: 50%;
    /* display: none; */
}

.box + .box:hover {
    background: green;
}