@font-face {
    font-family: "Antonio";
    src: url("antonio/Antonio-Regular.ttf");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Antonio";
    src: url("antonio/Antonio-Light.ttf");
    font-weight: 200;
    font-display: block;
}

@font-face {
    font-family: "Antonio";
    src: url("antonio/Antonio-Bold.ttf");
    font-weight: 900;
    font-display: fallback;
}

* {
    box-sizing: border-box;
}

body {
    padding: 5rem;
    background: darkgoldenrod;
}

h1.regular {
    font: small-caps italic 400 2rem/1 "Antonio", san-serif;
}

h1.bold {
    font: small-caps italic 900 2rem/1 "Antonio", san-serif;
}

h1.light {
    font: small-caps italic 200 2rem/1 "Antonio", san-serif;
}

.container {
    width: 500px;
    margin: auto;
    text-align: center;
}

.buttons {
    padding: 2rem;
    display: inline-block;
}

.buttons button {
    display: inline-block;
    margin: 0 0.5rem;
    color: white;
    padding: 1rem;
    border: none;
    width: 70px;
    border-radius: 10px;
}

.square {
    width: 500px;
    height: 500px;
    margin: auto;
    background: rgb(3, 165, 116);
}

.no-display {
    display: none !important;
}

.redButton {
    background-color: rgb(156, 8, 8);
}

.greenButton {
    background: rgb(3, 165, 116);;
}