main {
    padding-top: 1rem;
}

.signup-title {
    text-align: center;
    font-size: 1.8rem;
    color: #ff5454;
}

.signup-form {
    padding: 1rem;
}

.signup-form label {
    font-weight: bold;
}

.signup-form label,
.signup-form input,
.signup-form select{
    display: block;
    margin-top: 1rem;
    width: 100%;
}

.signup-form input[type="checkbox"],
.signup-form input[type="checkbox"] + label { 
    width: auto;
    display: inline-block;
    vertical-align: bottom;
}

.signup-form input:not([type="checkbox"]),
.signup-form select {
    border: 1px solid #ccc;
    padding: 0.2rem 0.5rem;
    font: inherit;
}

.signup-form input:focus,
.signup-form select:focus {
    background-color: #d8f3df;
    outline: none;
    border-color: #2ddf5c;

}

.signup-form input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid firebrick;
    background-color: white;
    width: 1.5rem;
    height: 1.5rem;
}

.signup-form input[type="checkbox"]:checked {
    background-color: firebrick;
    border: #ff5454;
}

.signup-form button[type="submit"]{
    display: block;
    margin-top: 1rem;
}

@media (min-width: 40rem){
    .signup-form {
        width: 25rem;
        margin: auto;
    }
}