* {box-sizing: border-box;}

body {
    margin: 0;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, sans-serif;
}

.header {
        display: flex;
        margin: 0;
}


.search-wrap {
    padding: 14px 24px 0 24px;
    display: flex;
    flex-grow: 1;
}

.spacer {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.logo {
    display: none;
}


.logo > svg {
    width: 30px;
    height: auto;
}

.logo-w-text {
    display: none;
}

.search {
    height: 56px;
    border: 0.5px solid rgba(0,0,0,0.08);    border-radius: 500px;
    display: flex;
    box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
    width: 100%;
    min-width: 284px;
    align-items: center;
}

.expand-search {
    display: none;
}

.line {
    border-left: grey solid 1px;
    height: 20px;
    align-self: stretch;
}
.search-icon {
    display: flex;
    flex-basis: 52px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.search-text {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-width: 0;
}

.search-text__main {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #222222;
}

.search-text__sub {
    display: flex;
    font-size: 12px;
    align-items: flex-end;
    color: #717171;
}

.search-text__expand {
    display: flex;
    font-size: 12px;
    align-items: flex-end;
    color: #717171;
    justify-content: space-between;
}

.search-text__sub > span {
    overflow-x: hidden;
    white-space: nowrap;
}

.search-text__sub > div {
    width: 13px;
    padding: 0 5px 3px 5px;
}


.search-filter {
    display: flex;
    flex-basis: 56px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

.filter-ring {
    border: 1px solid rgba(0,0,0,0.08);
    border-radius: 25px;
    margin: 0 10px;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 36px;
    justify-content: center;
    width: 36px;
}

svg {
    height: 16px;
    width: 16px;

}

.search-icon__red {
    display: none;
}

.header-cta {
    display: none;
}

.globe-icon {
    margin-right: 8px;
}

.header-cta__text {
    width: 123px;
    font-size: 85%;
    font-weight: 500;
    white-space: nowrap;
}

.header-cta > div {
    padding: 12px;

}

.account-button {
    display: flex;
    background: none;
    padding: 5px 5px 5px 12px;
    width: 77px;
    height: 42px;
    border-radius: 21px;
    border: 1px solid #DDDDDD;
    align-items: center;
    justify-content: space-between;
}

.account-icon {
    width: 30px;
    height: 30px;
    color: #717171;
}

.q-menu-big-wrap,
.q-menu-big-pad {
    display: contents;
}

.quick-menu {
    display: flex;
    padding: 0 24px;
    grid-template-columns: repeat(9, auto);
    font-size: 12px;
    font-weight: 500;
    gap: 16px;
    overflow: hidden;
    filter: contrast(calc(0.295455));
}

.quick-menu__wrap {
    display: flex;
    flex-direction: column;
    height: 62px;
    justify-content: space-between;
    align-items: center;
    min-width: 64px;
    flex-shrink: 0;
    margin-top: 12px;
    padding: 4px 0 14px 0;
}

.quick-menu__wrap:first-child {
    min-width: 55px;
    width: 55px;
}

.quick-menu__wrap:focus {
    filter: contrast(1);
    color: black;
}

.q-menu-filter {
    display: none;
}

.button {
    border: 1px solid #dddddd;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 12px;
    height: 48px;
    /* display: flex; */
    width: 90px;
    padding: 0;
}

.button > span {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
}

.filter-text {
    
}

.scroll-button__wrap {
    display: none;
}

.grid-wrap {
    display: grid;
    column-gap: 24px;
    row-gap: 40px;
    grid-template-columns: 1fr 1fr;
    padding: 0 24px;
    margin-top: 24px;
    grid-auto-rows: calc(42vw + 100px);
}

.grid-item {
    /* background-color: tomato; */
}

.image-wrap {
    height: calc(100% - 100px);
    margin-bottom: 12px;
}

.image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.option-text {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-areas: "title stars"
                          "distance distance"
                          "date date"
                          "price price";
    height: 88px;
    /* background-color: blueviolet; */
    font-size: 15px;
    line-height: 19px;
    font-family: inherit;
}

.option-text > * {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

p {
    margin: 0;
}
.title {
    margin: 0;
    grid-area: title;
    color: #222222;
    font-weight: 500;
    font-size: inherit;
}

.distance {
    grid-area: distance;
}

.date {
    grid-area: date;
}
.price {
    grid-area: price;
}

.distance,
.date {
    color: rgb(113, 113, 113);
    font-weight: 300;
}

.stars {
    grid-area: stars;
}

@media (min-width: 743px){
    .header {
        display: flex;
        padding: 0 40px;
        height: 80px;
        border-bottom: solid 1px rgba(128, 128, 128, 0.2);
    }

    .logo {
        display: flex;
        align-items: center;
        color: #FF385C;
        height: 100%;
    }

    .search-wrap {
        max-width: 400px;
    }

    .search {
        display: none;
    }

    .search-icon {
        display: none;
    }

    .search-icon__red {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 7px 7px 7px 0;
        border-radius: 50%;
        background-color: #FF385C;
        color: white;
    }

    .expand-search {
        height: 48px;
        border: 0.5px solid rgba(0,0,0,0.08);    border-radius: 500px;
        display: flex;
        box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
        width: 100%;
        min-width: 284px;
        align-items: center;
        border: 1px solid #DDDDDD
    }

    .search-text__expand {
        flex-grow: 1;
        display: flex;
        align-items: center;
    }

    .expand-titles {
        padding: 0 16px;
        flex-shrink: 0;
        font-size: 14px;
        color: black;
    }

    .header-cta {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        align-self: center;
    }

    .q-menu-big-wrap {
        display: flex;
        height: 98px;
        position: relative;
        max-width: 1760px;
        margin: auto;
    }

    .q-menu-pad {
        display: flex;
        padding: 0 40px;
        align-items: flex-end;
        width: 100vw;
    }

    .quick-menu {
        height: 78px;
        padding: 0;
        align-items: center;
        gap: 32px;
    }

    .quick-menu__wrap {
        height: 48px;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        min-width: 56px;
    }

    .peek-a-boo {
        position: absolute;
        right: 154px;
        bottom: 0;
        height: 78px;
        display: flex;
        width: 56px;
        justify-content: flex-end;
        align-items: center;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
    }
    .q-menu-filter {
        width: 114px;
        position: absolute;
        bottom: 0;
        right: 40px;
        height: 78px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-shrink: 0;
        background-color: white;
    }

    .scroll-button__wrap {
        display: flex;
        height: 78px;
        align-items: center;
    }

    .scroll-button {
        border: 0.5px solid rgb(0 0 0 / 0.3);
        border-radius: 50%;
        cursor: pointer;
        width: 28px;
        height: 28px;
        background-color: rgba(0,0,0,0.0);
    }
}

@media (min-width: 950px) {
    .spacer {
        display: contents;
    }

    .logo,
    .header-cta {
        flex: 1;
    }

}

@media (min-width: 1128px) {
    .logo {
        display: none;
    }

    .logo-w-text {
        display: flex;
        align-items: center;
        color: #FF385C;
        height: 100%;
        flex: 1;
      }
    
    .logo-w-text > svg {
        width: 102px;
        height: auto;
    }

    .header {
        padding: 0 80px;
    }

    .q-menu-pad {
        padding: 0 80px;
    }

    .peek-a-boo {
        right: 194px;
    }
    
    .q-menu-filter {
        right: 80px;
    }
}