* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'VT323', monospace;
    padding: 2rem;
    font-size: 2rem;
    position: relative;
}

.background {
    background: url("ice-cream.jpeg") 0/30%, white;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    position: fixed;
    opacity: 0.2;
    z-index: -1;
}

.form-container {
    max-width: 700px;
    margin: auto;
}

h1.form-title {
    text-align: center;
}

label,
input:not([type="radio"]),
select {
    display: block;
    width: 100%;
    height: fit-content;
    padding: 0.5rem;
}

input,
select {
    /* height: 1.5rem; */
    background-color: rgb(255, 227, 241);
}
input:focus:not([type="radio"]),
select:focus {
    outline: hotpink solid 2px;
}

.question {
    margin-top: 1.5rem;
}

.question input[type="text"],
.drop {
    font: inherit;
    font-size: 1.5rem;
}

.radio {
    border: solid black 1px;
    background-color: white;
}

.radio .radio__opt {
    display: inline-block;
    /* border: black solid 1px; */
    text-align: center;
    width: 30%;
}

.radio .radio__opt input[type="radio"] {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: solid black 1px;
    margin: 0;

}

.radio .radio__opt input[type="radio"]:checked {
    background-color: hotpink;
    outline: ivory solid 2px;
    outline-offset: -3px;
}

button {
    font: inherit;
    margin-top: 1rem;
    background: rgb(247, 193, 220);
}